<div class="action container">
    <%= link_to "Create game", new_game_path, class: "create btn" %>
    <%= link_to "View games", games_path, class: "btn" %>
    <%= form_tag("/redirect-to-game", method: "post") do %>
        <%= label_tag(:key, "Insert admin key here") %>
        <%= text_field_tag :key %>
        <%= submit_tag("Submit", class:"btn submit") %>
    <% end %>
</div>
