<%= form_tag send_alerts_path(@game), method: "post" do %>
    <%= text_area_tag :message, nil, placeholder: "Message for the alert" %>

    <div class="inline-block">
        <%= label_tag(:alive_only, "Only to people that are alive?") %>
        <%= check_box_tag :alive_only %>
    </div>

    <div class="inline-block">
        <%= label_tag(:include_assignment, "Include target assignment in message?") %>
        <%= check_box_tag :include_assignment %>
    </div>

    <%= hidden_field_tag :key, @key %>
    <%= submit_tag("Send", class:"btn submit") %>
<% end %>
