<div class="container">
    <h1>Create a new game</h1>

    <%= form_for @new_game do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, required: true %>

        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= label_tag :key, "Add a key for you to access the admin panel" %>
        <%= f.text_field :key, required: true %>

        <%= label_tag :teams, "Add team names separated by a comma" %>
        <%= text_area_tag :teams, nil,required: true %>

        <%= f.submit "Create", class:"btn submit" %>
    <% end %>

</div>
