<div class="new-game container">
    <h1>Create a new game</h1>

    <div class="form">
        <%= form_for @new_game do |f| %>
            <%= f.text_field :title, required: true, placeholder: :title %>

            <%= f.text_area :description, placeholder: :description %>

            <%= f.text_field :admin_email, required: true, placeholder: :admin_email %>

            <%= f.text_field :key, required: true, placeholder: "Key to access admin panel" %>

            <%= text_area_tag :teams, nil,required: true, placeholder: "Team names, separated by comma" %>

            <%= f.submit "Create", class:"btn submit" %>
        <% end %>
    </div>

</div>
