<h1><%= @game.title %></h1>
<p><%= @game.description %></p>

<div class="add-players">
    <a id="add-btn" class="btn">Add players</a>
    <div id="add-form">
        <div class="form">
            <%= form_tag("/games/#{@game.id}/add-players", method: "post") do %>
                <% teams.each do |team| %>
                    <%= label_tag(team.to_sym, "Add #{team} names separated by a comma") %>
                    <%= text_area_tag team.to_sym %>
                <% end %>
                <%= submit_tag("Submit", class:"btn submit") %>
            <% end %>
        </div>
    </div>
</div>

<div class="assign-targets">
    <%= link_to "Assign targets", assign_targets_path, method: :post, class: "btn", 
                                                    id: "assign-targets-btn" %>
</div>

<div class="view-targets">
    <%= link_to "View targets", view_targets_path, class: "btn", 
                                                     id: "view-targets-btn" %>
</div>
