<h1><%= @game.title %></h1>
<div class="show container">
    <p><%= simple_format(@game.description) %></p>

    <% if not @admin %>
        <%= render template: 'games/_admin_key_form.html.erb' %>
    <% end %>

    <% if @game.admin_email %>
        <p>If you would like to join the game, please contact the admin 
            <a href="mailto:<%=@game.admin_email%>?Subject=Assassins_Game" 
               target="_top">here</a>
        </p>
    <% end %>
</div>

<% if @admin %>
    <div class="container admin">
        <div class="edit-game">
            <%= link_to "Edit Game", edit_game_path(
                id: @game.id, key: @key), class: "btn" %>
        </div>

        <div class="signup">
            <%= link_to "Signup link", signup_path(@game), class: "btn" %>
        </div>

        <div class="add-players">
            <a id="add-btn" class="btn">Add players</a>
        </div>

        <div class="assign-targets-team">
            <%= link_to "Assign targets (by team)", 
                assign_targets_path(id: @game.id, key: @key, type: "team"), 
                method: :post, class: "btn", id: "assign-targets-btn" %>
        </div>

        <div class="assign-targets-free">
            <%= link_to "Assign targets (free-for-all)", 
                assign_targets_path(id: @game.id, key: @key, type: "free"), 
                method: :post, class: "btn", id: "assign-targets-btn" %>
        </div>

        <div class="revive-all">
            <%= link_to "Revive all players", life_path(
                id: @game.id, key: @key, 
                act: "revive_all"), method: :post, class: "btn" %>
        </div>

        <!-- texts dont work unless i pay for textbelt
        <div class="alert-targets">
            <%# link_to "Send notification", create_alerts_path(id: @game.id, key: @key), class: "btn", 
                id: "assign-targets-btn" %>
        </div>
        -->

        <div class="merge-games">
            <a id="merge-games-btn" class="btn">Merge games</a>
        </div>

        <div id="add-form">
            <h4>Add names separated by a comma</h4>
            <%= form_tag("/games/#{@game.id}/add-players", method: "post") do %>
                <% @game.teams.each do |team| %>
                    <div class="input-row">
                        <%= label_tag(team.name.to_sym, "#{team.name}") %>
                        <%= text_field_tag team.name.to_sym %>
                    </div>
                <% end %>
                <%= hidden_field_tag :key, @key %>
                <%= submit_tag("Submit", class:"btn submit") %>
            <% end %>
        </div>

        <div id="merge-game-form">
            <h4>Enter the admin key of the game you'd like to merge</h4>
            <%= form_tag(merge_games_path, method: "post", class:"admin-key") do %>
                <%= text_field_tag :other_key, nil, placeholder: "Admin key", class:"admin-key input" %>
                <%= hidden_field_tag :key, @key %>
                <%= submit_tag("Submit", class:"btn submit admin-key") %>
            <% end %>
        </div>
    </div>
<% end %>

<% if @leaders and @leaders.count > 0 %>
<div class="leaderboard container">
    <h3>Leaderboard</h3>
    <table> 
        <tr>
            <th>Team</th>
            <th>Player</th>
            <th>Kills</th>
        </tr>

        <% @leaders.each do |leader| %>
            <% team_name = Team.find(leader.team_id).name %>
            <tr >
                <td class="<%= team_name %>"><%= team_name %></td>
                <td><%= leader.name %></td>
                <td><%= leader.kills %></td>
            </tr>
        <% end %>
    </table>
</div>
<% end %>

<div class="players">
    <% @teams.each do |team| %>
        <div class="container <%= @admin ? "admin" : "non-admin" %>">
            <table>
                <tr>
                    <h3 class="<%= team.name %>"><%= team.name %> |
                    Total Kills: <%= team.total_kills %> |
                    Total Remaining: <%= team.total_remaining%></h3>
                </tr>

                <tr>
                    <td>Player</td>
                    <td>Alive</td>
                    <td class="desktop-only">Kills</td>
                    <% if @admin %>
                        <td>Target</td>
                        <td>Life</td>
                    <% end %>
                </tr>

                <% team.players.each do |person| %>
                    <tr>
                        <% if @admin %>
                            <td><%= link_to person.name, 
                                edit_player_path(id: @game.id, player_id: person.id,
                                                 edit: true, key: @key) %>
                            </td>
                        <% else %>
                            <td><%= person.name %></td>
                        <% end %>

                        <td><% if person.alive %>&#10004;<% end %></td>
                        <td class="desktop-only"><%= person.kills %></td>
                        <% if @admin %>
                            <% if person.target_id == nil or !person.alive %>
                                <td>---</td>
                            <% else %>
                                <% p = Player.find_by(id: person.target_id) %>
                                <td><%= p.name if p %> <%= '---' if not p %></td>
                            <% end %>
                            <td>
                            <% if person.alive %>
                                <%= (link_to "Killed Target |", life_path(
                                    id: @game.id, player: person.id, key: @key, 
                                    act: "kill"), method: :post) if p and p != person %>
                                
                                <%= link_to "Suicide", life_path(
                                    id: @game.id, player: person.id, key: @key, 
                                    act: "suicide"), method: :post %>
                            <% else %>
                                <%= link_to "Revive", life_path(
                                    id: @game.id, player: person.id, key: @key, 
                                    act: "revive"), method: :post %>
                            <% end %>
                        <% end %>
                    </tr>
                <% end %>
            </table>
        </div>
    <% end %>
</div>

