<div class="container">
    <h1><%= @title %></h1>
    <%= form_for @player, url: @url do |f| %>
        <%= f.text_field :name, required: true, placeholder: "Name" %>

        <!-- right now only phone works -->
        <%= f.text_field :contact, placeholder: "Phone Number (XXX-XXX-XXXX)" %>

        <div class="inline-block" style="display: none;">
            <%= f.label :phone, "Check if phone number, Uncheck if email" %>
            <%= f.check_box :phone %>
        </div>

        <div class="inline-block">
            <%= label_tag :team, "What team are you on?" %>
            <%= collection_select(:player, :team_id, @game.teams, :id, 
                                  :name, required: true) %>
        </div>

        <%= hidden_field_tag :key, @key %>

        <%= f.submit @action, class:"btn submit" %>
    <% end %>
</div>
