<h1>Assignments</h1>
<% if @teams.count == 0 %>
    <p>No assignments yet</p>
<% end %>

<% @teams.keys.each do |team| %>
    <table class="<%= team.name %>">
        <tr>
            <th><%= team.name %></th>
        </tr>

        <tr>
            <td>Player</td>
            <td>Target</td>
        </tr>

        <% team.players.each do |person| %>
            <tr>
                <td><%= person.name %></td>
                <td>
                    <%= "No target" if not person.target_id %>
                    <%= Player.find(person.target_id) if person.target_id%>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>
