<!DOCTYPE html>
<html>
<head>
<title><%= @title ? @title : "Team Assassins" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:success] %>
<div class="flash success">
  <p><%= flash[:success] %></p>
</div>
<% elsif flash[:danger] or flash[:alert] or flash[:error] %>
<div class="flash danger">
  <p><%= flash[:danger] %></p>
  <p><%= flash[:alert] %></p>
  <p><%= flash[:error] %></p>
</div>
<% end %>


<%= yield %>

<div class="footer-buffer">
</div>
<div class="footer">
    <%= link_to "Home", root_path %>
    <%= link_to "Create game", new_game_path %>
    <%= link_to "View games", games_path %>
    <%= link_to "About", about_path %>
</div>
</body>
</html>
